<h3>Cozinha</h3>
<% @culinaries.each do |culinary| %>
  <%= link_to culinary.name, recipes_by_category_path(culinary.class.to_s.underscore, culinary.id) %>
<% end %>

<% @food_types.each do |food_type| %>
  <%= link_to food_type.name, recipes_by_category_path(food_type.class.to_s.underscore, food_type.id) %>
<% end %>

<% @food_preferences.each do |food_preference| %>
  <%= link_to food_preference.name, recipes_by_category_path(food_preference.class.to_s.underscore, food_preference.id) %>
<% end %>
